.spacing {
    padding-top: 129px;
    padding-left: 106px;
}

.mx-1 {
    padding-left: 100px;
    padding: auto;
}

.img-card {
    margin-left: -20px;
    margin-right: 26px;
    width: 116%
}

.avatar {
    width: 18%;
    clip-path: circle(18px at 50% 50%);
}
.logo {
    width: 4%;
    clip-path: circle(18px at 50% 50%);
}
.bg-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
}
.bg-yellow {
    background-color: yellow;
}
.bg-lightsalmon {
    background-color: lightsalmon;
}
.bg-orange {
    background-color: orange;
}
.bg-org {
    background-color: rgb(230, 166, 49);
}
.fas-mar {
    margin-left: 600px;
}
.modal-content1 {
    background-color: rgba(54, 52, 52, 0.884);
    margin: auto;
    padding: 15px;
    padding-top: 20px;
    border: 1px solid #888;
    width: 140%;
  }
  .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
  }